<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Messages</key>
	<dict>
		<key>steefm</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>mdv</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>BulletinBoard</key>
	<dict>
		<key>BulletinBoardRefactor</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
	</dict>
	<key>NotificationsUI</key>
	<dict>
		<key>ReactiveList</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
	</dict>
	<key>CoreVideo</key>
	<dict>
		<key>UseIOSurfaceAttachmentsDirectly</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Siri</key>
	<dict>
		<key>sae_override</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>uod_asr_on_server_enabled</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>use_flow_runtime</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>lasso</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>bobble</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>scda_framework</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>force_uod_enabled_for_device</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SiriAssistantSuggestions</key>
	<dict>
		<key>featureExtraction</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>featureAnnouncement</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>siriHelpThirdParty</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>siriHelpUseResponseFramework2</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>siriHelpUseSnippetModernization</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>scda_framework</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SiriUI</key>
	<dict>
		<key>sae</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>DeviceOSExpert</key>
	<dict>
		<key>SemanticSearch</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SpotlightUI</key>
	<dict>
		<key>LightMode</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>PreferencesFramework</key>
	<dict>
		<key>multiline_cells_enabled</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>modern_layout_enabled</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>inset_table_style_enabled</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Photos</key>
	<dict>
		<key>PhotoPickerUsageInfo</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Ensemble</key>
	<dict>
		<key>SystemUIScene</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>PerfPowerServices</key>
	<dict>
		<key>battery_health_details</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>StorageManagement</key>
	<dict>
		<key>StorageUIV2</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Zelkova</key>
	<dict>
		<key>Zelkova</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>UIKit</key>
	<dict>
		<key>async_text_input_iphone</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>keyboard_oop</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>redesigned_candidate_ui</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>ucb_redesign</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>global_edge_swipe_touches_ios</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>gelato</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>ati_ui</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>GenerativePlayground</key>
	<dict>
		<key>App</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Messages</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SwiftUI</key>
	<dict>
		<key>gestureContainer</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>gestureInterop</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Mail</key>
	<dict>
		<key>Shoji</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>BIMI</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>MusicUI</key>
	<dict>
		<key>musicui_server_features</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>view_model_cache</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Music</key>
	<dict>
		<key>bilby</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>mantis</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>symphony</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Oneness</key>
	<dict>
		<key>App</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Shell</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Sharing</key>
	<dict>
		<key>oneness_unlock</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>oneness_approve</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>authentications</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>DigitalSeparation</key>
	<dict>
		<key>oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SpringBoard</key>
	<dict>
		<key>RainbowRoad</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>AutobahnQuickSwitchTransition</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SwiftUITimeAnimation</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SooP</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SlipSwitch</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>AHP</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>OnenessHomeScreenEditing</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>AsynchronousIconImageLoading</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>WooP</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SystemUIScene</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>TraitsArbiterWallpaperTokyoDrift</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>StatusBarReusePool</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>FlagOnThePlay</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>FlagMeDown</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Giulia</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>PosterEditorKashida</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>PostModernRotation</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SAETappyHomeAffordance</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SpecialCup</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>TraitsArbiter</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>TraitsArbiterActuation</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Twoness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Monaco</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Maglev</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Livery</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Domino</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SuperDomino</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SettingsApp</key>
	<dict>
		<key>Oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SettingsUndo</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>ModernApplication</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>VirtualAudio</key>
	<dict>
		<key>Oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>UserNotifications</key>
	<dict>
		<key>Oneness</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
